<div class="jumbotron">
  <h1>It's the license plates game!</h1>
  <p>You know that game that you love to play on roadtrips! Find as many license plates as you can. This is the new home of
    that game!</p>
</div>
<div class="container" style="margin-top:20px;">
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let state of states" [ngClass]="{'active': isInSelectedList(state)}" (click)="listClick($event, state)">{{state}}</li>
      </ul>
    </div>
  </div>
</div>
